* {margin:0; padding:0; border:0;}

body {padding:2% 0 0; background:#FFF; font-family:"Times New Roman", Times, serif; background:url(img/bg-kan.jpg) no-repeat;}
#container {width:1024px; margin:0 auto; text-align:center;}
	

#header {background:url(img/header.png) no-repeat; width:500px; height:100px; margin-left:90px;}

#header1 {margin-left:90px;}

#menu {width:1000px; height:100px;}

#main {margin-top:10px;}

#main img {padding-right:25px;}

#footer {margin-top:10px;}

#footer p {font-size:16px; text-align:left; margin-left:90px; margin-top:20px;}

.tel {font-size:29px;}


h1 {color:#841b0d; font-size:22px;}

.b-photo {clear:left;float:left;margin:10px 0 20px 0;width:100%;}
	.b-photo ul {margin-left:20px;}
		.b-photo ul li {float:left;margin-right:15px;}
		.b-photo ul li.last {margin-right:0px;}
			.b-photo ul li img {margin:0;}


#foto {margin-left:55px;}

