* {margin:0; padding:0; border:0;}

body {padding:2% 0 0; background:#FFF; font-family:"Times New Roman", Times, serif; background:url(img/bg.jpg) repeat;}

#container {width:1024px; margin:0 auto; text-align:center;}
	

#header {background:url(img/header.png) no-repeat; width:500px; height:100px; margin-left:90px;}

#header1 {margin-left:90px;}

#menu1 {}

#menu {width:1000px; height:100px; }

#main {margin-top:10px;}

#main img {padding-right:25px;}

#footer {margin-top:10px;}

#footer p {font-size:16px; text-align:left; margin-left:90px;}

.tel {font-size:29px;}

a:link, a:visited {
	color: #000;
	text-decoration:none;	
}