* {margin:0; padding:0; border:0;}

body {padding: 0; background:#fff; font-family:"Times New Roman", Times, serif; background:url(img/na-beregu_background2.jpg) }

#container {width:1024px; margin:0 auto; text-align:center;}
	

#header1 {margin-left:90px;}

#header {background:url('img/header+.png') no-repeat; width:500px; height:100px; margin-left:90px;}

#menu {width:1000px; height:100px; }

#main {margin-top:10px}

#main img {padding-right:25px;}

#footer {margin-top:20px;}

#footer p {font-size:16px; text-align:left; margin-left:70px;}

.tel {font-size:29px;}

input {border:1px solid #ccc;}

a:link{color: #8D0000}
a:visited {
	color: #000;
	text-decoration:none;	
}
.sub-title{
	color: #8D0000;
	font-size: 18px;
	font-weight: bold;
}
.prepare_block{
	width: 353px;
/*	height: 20px;*/
	
}

.nb-collumn-1{
	width: 400px;
	float: left;
	margin: 35px 0 0 25px;
/*	background-color: #aae60d;*/
/*	height: 50px;*/
}
.nb-collumn-2{
	margin: 25px 15px;
	width: 400px;
	float: right;
/*	background-color: #7f9db9;*/
/*	height: 50px;*/
}
.form-item{
	margin-bottom: 10px;
}
.clear{
	clear: both;
}
